.article-content {
    background: #fff;
    border-radius: 8px;
    padding: 25px;
}

.article-content pre {
    padding: 20px;
    border-radius: 8px;
    font-size: 1rem;
}

.article-content img {
    max-width: 100%;

}
.article-content :last-child{
    margin-bottom: 0;
}